<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="version" content="<%= htmlWebpackPlugin.options.version %>" />
    <meta name="build-date" content="<%= htmlWebpackPlugin.options.buildDate %>" />
    <meta name="title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.cfavicon %>" />

    <style>
      html,
      body,
      #app {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript">
      //mobile viewport hack
      (function () {
        function adapt_viewport() {
          if (/Android|webOS|BlackBerry/i.test(navigator.userAgent)) {
            const ww = window.screen.width;
            const mw = 1200;
            const ratio = ww / mw;
            const viewport_meta_tag = document.getElementById('viewport');
            if (ratio < 1) {
              viewport_meta_tag.setAttribute('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=no, width=' + mw);
            }
          }
        }
        // update viewport scale if screen dimentions changed
        window.addEventListener('resize', function () {
          adapt_viewport();
        });
        adapt_viewport();
      })();
    </script>
  </body>
</html>
